<h1>checkout page</h1>
<% let subtotal = 0 %>

<div class="container d-flex justify-content-between">
  <% user.cart.forEach(item => { let itemPrice; %>
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top img-fluid rounded"
      src="<%= item.product.images[0] %>"
      alt="<%= item.product.title %>"
    />
    <div class="card-body">
      <h5 class="card-title"><%= item.product.title %></h5>
      <p>Size: <%= item.product.size %></p>
      <p>Price: <%= Number.parseFloat(item.product.price).toFixed(2) %></p>
      <p>Qty: <%= item.amount %></p>
      <% itemPrice = Number.parseFloat(item.product.price).toFixed(2) * Number.parseFloat(item.amount).toFixed(2) %>
      <p>€ <%= itemPrice %></p>
      <% subtotal += itemPrice %>
    </div>
  </div>
  <% }) %>
</div>

<div>
  <p>€ <%= Number.parseFloat(subtotal).toFixed(2) %></p>
  <form method="POST" action="/checkout/success">
    <input type="number" name="subtotal" value="<%= subtotal %>" hidden>
    <button type="submit">Pay now</button>
  </form>
</div>
