<div class="side-cart 
<%= cartOpen ? 'cart-open' : 'hide' %>" 
<%= cartOpen ? 'style=transform:translateX(-100)' : 'style=transform:translateX(100%)' %>>
    <button class="close-cart">
      <span class="material-symbols-outlined"> chevron_left </span>
      close menu
    </button>
    <div class="container-cart">
      <div class="header-cart">
        <h4>Cart</h4>
        <div class="products-amount"><%- cart.length %> product<% if (cart.length > 1) { %>s
        <% } %> </div>
      </div>
      <div class="item-list">
        <% let subtotal = 0; %>
    <% cart.forEach(item => { %>
        <div class="single-item">
            <div class="single-item-inner">
            <div>
                <div class="outer-img">
                <a href="#">
                    <img
                    class=""
                    src="<%- typeof item.product.images !== "undefined" ? item.product.images[0] : "" %>"
                    alt="<%- item.product.title %>"
                    />
                </a>
                </div>
            </div>
            <div>
                <div class="item-details">
                <div class="outer-name">
                    <b><h6 class="item-name"><%- item.product.title %></h6></b>
                </div>
                <div class="outer-size">
                    <select class="form-select" name="size" id="">
                        <option value="small">extra-small</option>
                        <option value="small">small</option>
                        <option value="medium">medium</option>
                        <option value="large">large</option>
                        <option value="extra-large">extra-large</option>
                    </select>
                </div>
                <div class="outer-input">
                    <form method="POST" action="/products/cart-update" data-form-auto-submit="true">
                        <input name="id" value="<%= item.product._id %>" type="text" hidden>
                        <input type="text" name="cartOpen" value="true" hidden />
                        <select class="form-select" name="amount" onchange="this.form.submit()">
                          <option value="1" <% if (item.amount === 1) { %> selected <% } %>>1</option>
                          <option value="2" <% if (item.amount === 2) { %> selected <% } %>>2</option>
                          <option value="3" <% if (item.amount === 3) { %> selected <% } %>>3</option>
                          <option value="4" <% if (item.amount === 4) { %> selected <% } %>>4</option>
                          <option value="5" <% if (item.amount === 5) { %> selected <% } %>>5</option>
                          <option value="6" <% if (item.amount === 6) { %> selected <% } %>>6</option>
                          <option value="7" <% if (item.amount === 7) { %> selected <% } %>>7</option>
                          <option value="8" <% if (item.amount === 8) { %> selected <% } %>>8</option>
                          <option value="9" <% if (item.amount === 9) { %> selected <% } %>>9</option>
                          <option value="10" <% if (item.amount === 10) { %> selected <% } %>>10</option>
                        </select>
                      </form>
                </div>
                <div class="outer-price">
                    <% let itemPrice = item.product.price * item.amount %>
                    <div class="price-item">€<%- Number.parseFloat(itemPrice).toFixed(2) %></div>
                </div>
                </div>
            </div>
            <div>
                <div class="outer-delete-item">
                    <form method="post" action="/products/cart-delete">
                        <input type="text" name="id" value="<%- item.product._id %>" hidden>
                        <input type="text" name="cartOpen" value="true" hidden />
                        <button type="submit">
                           <span class="material-symbols-outlined close"> close </span> 
                        </button>
                        </form>
                </div>
            </div>
            </div>
        </div>
        <% subtotal += itemPrice %>
    <% }) %>
      </div>
    </div>
    <div class="subtotal-outer">
        <div class="subtotal-text">
            subtotal: 
        </div>
        <div class="subtotal-price">
            €<%- Number.parseFloat(subtotal).toFixed(2) %>
        </div>
      </div>
      <div class="checkout-btn">
        <a href="/checkout"><button class="btn">checkout</button></a>
        
      </div>
  </div>
<div class="modal-backdrop modal-backdrop-open <%= cartOpen ? '' : 'hide' %>"></div>