<link rel="stylesheet" href="/stylesheets/profile.css" />

<div class="container d-flex justify-content-between">
  <section class="col-4">
    <h1>profile</h1>
    <p>currently logged in as: <%= user.firstName %></p>
    <p class="address-check">
      <%= typeof user.address === "undefined" ? "Please update your personal info"
      : "" %>
    </p>
  
    <img
      class="pro-pic"
      src="https://api.dicebear.com/5.x/thumbs/svg?seed=<%= user.firstName %>&radius=30"
      alt="avatar"
    />
  
    <form
      method="post"
      action="<%= `/profile/update-infos/${user.firstName}-${user.lastName}` %>"
    >
      <div class="form-group">
        <label for="profile-street">First name:</label>
        <input
          class="form-control"
          id="profile-street"
          type="text"
          value="<%= user.firstName %>"
          name="firstName"
          required
        />
      </div>
      <div class="form-group">
        <label for="profile-stnumber">Second name:</label>
        <input
          class="form-control"
          id="profile-stnumber"
          type="text"
          value="<%= user.lastName %>"
          name="lastName"
          required
        />
      </div>
      <div class="form-group">
        <label for="profile-stnumber">Email address:</label>
        <input
          class="form-control"
          id="profile-stnumber"
          type="email"
          value="<%= user.email %>"
          name="email"
          required
        />
      </div>
      <button class="m-3 btn" type="submit">Update your personal info</button>
    </form>
  
    <form
      method="post"
      action="<%= `/profile/update-address/${user.firstName}-${user.lastName}` %>"
    >
      <div class="row">
        <div class="col-4 form-group">
          <label for="profile-stnumber">House number:</label>
          <input class="form-control" id="profile-stnumber" type="text" value="<%=
          typeof user.address === "undefined" ? "" : user.address.houseNumber %>"
          placeholder="221b" name="houseNumber" required/>
        </div>
        <div class="col-8 form-group">
          <label for="profile-street">Street:</label>
          <input class="form-control" id="profile-street" type="text" value="<%=
          typeof user.address === "undefined" ? "" : user.address.street %>"
          placeholder="Baker Street" name="street" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-4 form-group">
          <label for="profile-pcode">Postal code: </label>
          <input class="form-control" id="profile-pcode" type="text" value="<%=
          typeof user.address === "undefined" ? "" : user.address.postalCode %>"
          placeholder="NW1 6XE" name="postalCode" required/>
        </div>
        <div class="col-8 form-group">
          <label for="profile-city">City: </label>
          <input class="form-control" id="profile-city" type="text" value="<%=
          typeof user.address === "undefined" ? "" : user.address.city %>"
          placeholder="London" name="city" required/>
        </div>
      </div>
  
      <div class="form-group">
        <label for="profile-country">Country: </label>
        <input class="form-control" id="profile-country" type="text" value="<%=
        typeof user.address === "undefined" ? "" : user.address.country %>"
        placeholder="United Kingdom" name="country" required/>
      </div>
      <button class="m-3 btn" type="submit">Update your profile info</button>
    </form>
  </section>
  
  <section class="col-7">
    <h1>Your order history</h1>
    <div class="accordion" id="panelsStayOpen">

      <% orderHistory.forEach((order, ind) => { %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-heading<%= ind %>">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapse<%= ind %>"
              aria-expanded="true"
              aria-controls="panelsStayOpen-collapse<%= ind %>"
            >
            <div class="inner-btn">
              <div class="order-id">
Order ID: <%= order._id %>
              </div>
              <div class="date">
<%= order.createdAt.toLocaleDateString()%>
              </div>
            </div>
               
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapse<%= ind %>"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-heading<%= ind %>"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <% order.products.forEach(item => { %>
                <!-- This is the container for every item in products array -->
                <div class="d-flex justify-content-between mb-3">
                  <div class="col-4">
                    <img class="history-img" src="/<%- item.product.images[0] %>" alt="<%= item.product.title %>">
                  </div>
                  <div class="col-7">
                    <h3><%= item.product.title %></h3>
                    <p>Qty: <%= item.amount %></p>
                    <p>€<%= item.product.price * item.amount %></p>
                  </div>
                </div>
                <% }) %>
                <!-- and it ends here -->
                <h4>Subtotal: <strong>€<%= order.totalPrice %></strong></h4>
            </div>
          </div>
        </div>
      <% }) %>



    </div>
  </section>
</div>

