<h1>all products</h1>
<%- include('../partials/modal.ejs') %>
<div class="container d-flex justify-content-between">
  <% allProducts.forEach(product => { %>
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top img-fluid rounded"
      src="/<%- product.images[0] %>"
      alt="<%= product.title %>"
    />
    <div class="card-body">
      <h5 class="card-title"><%= product.title %></h5>

      <div class="buttons">
        <form method="post" action="/products/cart-add">
          <input type="text" name="id" value="<%- product.id %>" hidden />
          <input type="text" name="cartOpen" value="true" hidden />
          <button class="btn btn-block btn-buy" type="submit">
            Add to cart
          </button>
        </form>

        <a href="/products/details/<%- product.id %>">
          <button class="btn btn-block btn-buy" type="submit">details</button>
        </a>
      </div>
    </div>
  </div>
  <% }) %>
</div>
<script src="/js/modal.js"></script>
